/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	height: 100%;
}

.sidebar {
	background-color: #1992d4;
	color: white;
	gap: 50px;
	padding-left: 20px;
	padding-top: 20px;
	display: flex;
	flex-direction: column;
}

body {
	display: grid;
	grid-template-areas: 
	"sidebar content content content"
	"sidebar content content content"
	"sidebar content content content";
	grid-template-columns: 18% repeat(3, 1fr);
	height: 100%;
 
}

.sidebar {
	grid-area: sidebar;
}

.sidebar h1 {
	font-size: 25px;
	justify-content: flex-start;
}

.other-options, .menu-options {
	--default-font-size: 20px;
	display: grid;
	grid: 1fr/ .5fr 4fr;
	gap: calc(--default-font-size/10);
	font-size: var(--default-font-size);
	padding-right: 30px;
	gap: 20px;
}

.sidebar, .other-options, .menu-options {
	font-weight: bold;
}

svg {
	width: 20px;
	filter: invert(95%) sepia(80%) saturate(0%) hue-rotate(211deg) brightness(105%) contrast(101%);
	place-self: center;
}

.dashboard {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	grid: 1fr/ .5fr 4fr;
}

.dashboard > svg {
	width: 40px;
	place-self: center;
}

.content {
	grid-area: content;
}

.header-left svg, .header-right svg {
	filter: brightness(0) saturate(100%);
}

.header {
	background-color: white;
	filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
	padding-top: 20px;
	padding-left: 3%;
	font-weight: bold;
	padding-right: 3%;
}

.header div div svg{
	width: 25px;
}

.header > div:nth-child(1) {
	display: flex;
	gap: 20px;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 20px;
}

.header-left input {
	background-color: #e2e8f0;
	border: 0;
	border-radius: 20px;
	padding: 10px;
	width: 700px;
}

.header-left, .header-right {
	display: flex;
	gap: 20px;
	align-items: center;
}

#profile-pic-small {
	height: 50px;
	border-radius: 50%;
}

#profile-pic-large {
	height: 80px;
	border-radius: 50%;
	grid-area: pfp;
}

.name-greeting {
	display: flex;
	align-items: center;
	gap: 20px
}

.name-greeting div {
	display: flex;
	gap: 5px;
	flex-direction: column;
}

.name-greeting div p:not(#name-handle) {
	font-size: 15px;
}

#name-handle {
	font-size: 25px;
}

.header > div:nth-child(2) {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 20px;
}

.buttons {
	display: flex;
	gap: 20px;
}

.buttons button {
	font-size: 15px;
	font-weight: bold;
	color: white;
	background-color: #1992d4;
	border: none;
	padding: 10px;
	border-radius: 20px;
	width: 100px;
}

h2 {
	font-weight: bold;
	opacity: 90%;
	font-size: 18px;
	padding-bottom: 8px;
}

.main {
	display: grid;
	grid-template-areas: 
	"projects projects projects announcements"
	"projects projects projects trending";
	grid-template-rows: 1fr 1fr;
	padding-top: 30px;
	padding-left: 20px;
	row-gap: 10px;
	background-color: #e3e8ef;
	grid-template-rows: auto;
}

.projects {
	grid-area: projects;
}

.announcenments {
	grid-area: announcements;
}

.trending {
	grid-area: trending;
}

.card-gallery {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 20px;
}

.card h3 {
	font-weight: bold;
}


.card {
	background-color: white;
	border-left: 7px #e8b54a solid;
	border-radius: 7px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 0 20px;
	height: 160px;
}

.symbols {
	display: flex;
	align-self: flex-end;
	gap: 20px;
}

.card p {
	color: #676767;
}

.card svg {
	filter: brightness(0) saturate(100%);	
}